<p-menu
  [model]="items"
  [styleClass]="
    isFullDisplay
      ? 'w-[16rem] h-screen shrink-0 transition-[width] duration-200 ease-out'
      : 'w-[5.25rem] h-screen shrink-0 transition-[width] duration-200 ease-out'
  "
>
  <ng-template pTemplate="start">
    <button
      pRipple
      type="button"
      class="relative overflow-hidden w-full p-link flex items-center p-3 pl-3 mx-2 text-slate-800 hover:bg-slate-100/90 rounded-xl transition-colors duration-200"
      [class]="isFullDisplay ? '' : 'justify-center mx-auto w-11 h-11 p-0'"
    >
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        class="mr-2"
        shape="circle"
      />

      @if (isFullDisplay) {
        <span class="inline-flex flex-col min-w-0 text-left ml-3">
          <span class="font-bold text-slate-900 truncate">{{ profileData().username }}</span>
          <span class="text-xs text-slate-500 truncate">{{ profileData().email }}</span>
        </span>
      }
    </button>
  </ng-template>
  <ng-template pTemplate="item" let-item>
    @if (item.routerLink; as rl) {
      <a
        pRipple
        class="flex flex-row items-center min-h-[2.65rem] p-menuitem-link text-sm font-medium text-slate-700"
        [class.justify-center]="!isFullDisplay"
        [class.justify-between]="isFullDisplay"
        [routerLink]="rl"
      >
        @if (isFullDisplay) {
          <span [class]="item.icon" style="font-size: 1.2rem"></span>
          <span class="ml-2 flex-1 truncate transition-opacity duration-500 ease-out">
            {{ item?.label }}
          </span>
          <span class="ml-auto pi pi-angle-right text-slate-400 text-xs shrink-0"></span>
        } @else {
          <span
            [class]="!isFullDisplay && item.secondIcon ? item.secondIcon : item.icon"
            style="font-size: 1.2rem"
          ></span>
        }
      </a>
    } @else {
      <button
        type="button"
        pRipple
        class="flex flex-row items-center min-h-[2.65rem] w-full border-none bg-transparent cursor-pointer text-left font-inherit text-sm font-medium text-slate-700 p-menuitem-link"
        [class.justify-center]="!isFullDisplay"
        [class.justify-between]="isFullDisplay"
        (click)="onMenuLeafAction(item, $event)"
      >
        @if (isFullDisplay) {
          <span [class]="item.icon || item.secondIcon" style="font-size: 1.2rem"></span>
          <span class="ml-2 flex-1 truncate">{{ item?.label }}</span>
        } @else {
          <span
            [class]="!isFullDisplay && item.secondIcon ? item.secondIcon : item.icon"
            style="font-size: 1.2rem"
          ></span>
        }
      </button>
    }
  </ng-template>
</p-menu>
<p-confirmDialog />
