<app-auth-card
  [title]="'Registrarme'"
  [subheader]="'Ingresa tus datos para registrarte en la plataforma'"
>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="register()"
    class="flex flex-column gap-4"
    #form="ngForm"
  >
    <!-- Nombre de usuario -->
    <div class="flex flex-column gap-2">
      <label for="email" class="flex flex-column align-items-right gap-2 md:flex-row">
        Nombre de la empresa
        <div
          *ngIf="(corporationFormField?.invalid && corporationFormField?.touched) || form.submitted"
          class="text-red-500"
        >
          <small *ngIf="corporationFormField?.errors?.['required']">
            *El nombre de empresa es obligatorio.
          </small>
          <small *ngIf="corporationFormField?.errors?.['maxlength']">
            *El nombre de empresa no debe superar los
            {{ corporationFormField?.errors?.['maxlength']['requiredLength'] | json }} caracteres.
          </small>
          <small *ngIf="corporationFormField?.errors?.['minlength']">
            *El nombre de empresa debe tener al menos
            {{ corporationFormField?.errors?.['minlength']['requiredLength'] | json }} caracteres.
          </small>
          <small *ngIf="corporationFormField?.errors?.['pattern']">
            *El nombre de empresa debe ser alfanumérico.
          </small>
        </div>
      </label>
      <input
        pInputText
        id="corporation"
        aria-describedby="email-help"
        formControlName="corporation"
        placeholder="Nombre de empresa"
      />
    </div>

    <!-- Nombre de usuario -->
    <div class="flex flex-column gap-2">
      <label for="email" class="flex flex-column align-items-right gap-2 md:flex-row">
        Nombre de usuario
        <div
          *ngIf="(usernameFormField?.invalid && usernameFormField?.touched) || form.submitted"
          class="text-red-500"
        >
          <small *ngIf="usernameFormField?.errors?.['required']">
            *El nombre de usuario es obligatorio.
          </small>
          <small *ngIf="usernameFormField?.errors?.['maxlength']">
            *El nombre de usuario no debe superar los
            {{ usernameFormField?.errors?.['maxlength']['requiredLength'] | json }} caracteres.
          </small>
          <small *ngIf="usernameFormField?.errors?.['minlength']">
            *El nombre de usuario debe tener al menos
            {{ usernameFormField?.errors?.['minlength']['requiredLength'] | json }} caracteres.
          </small>
          <small *ngIf="usernameFormField?.errors?.['pattern']">
            *El nombre de usuario debe ser alfanumérico.
          </small>
        </div>
      </label>
      <input
        pInputText
        id="username"
        aria-describedby="email-help"
        formControlName="username"
        placeholder="username"
      />
    </div>

    <!-- Correo electrónico -->
    <div class="flex flex-column gap-2">
      <label for="email" class="flex flex-column align-items-right gap-2 md:flex-row">
        Correo Electrónico
        <div
          *ngIf="(emailFormField?.invalid && emailFormField?.touched) || form.submitted"
          class="text-red-500"
        >
          <small *ngIf="emailFormField?.errors?.['required']">
            *El correo electrónico es obligatorio.
          </small>
          <small *ngIf="emailFormField?.errors?.['email']">
            *Ingresa un correo electrónico válido.
          </small>
        </div>
      </label>
      <input
        pInputText
        id="email"
        aria-describedby="email-help"
        formControlName="email"
        placeholder="example@example.com"
      />
    </div>

    <!-- Contraseña -->
    <div class="flex flex-column gap-2">
      <label for="password" class="flex align-items-center gap-2">
        Contraseña
        <div
          *ngIf="(passwordFormField?.invalid && passwordFormField?.touched) || form.submitted"
          class="text-danger"
        >
          <small *ngIf="passwordFormField?.errors?.['required']" class="text-red-500">
            *La contraseña es obligatoria.
          </small>
        </div>
      </label>
      <div class="flex justify-content-start w-full gap-2">
        <input
          pInputText
          id="password"
          aria-describedby="password-help"
          formControlName="password"
          [type]="passwordVisible ? 'text' : 'password'"
          placeholder="Ingresa tu contraseña"
          class="w-full"
        />
        <p-button
          [icon]="passwordVisible ? 'pi pi-eye-slash' : 'pi pi-eye'"
          [rounded]="true"
          [text]="true"
          severity="secondary"
          (onClick)="passwordToggle()"
        />
      </div>

      <div class="text-red-400 text-sm" *ngIf="passwordFormField?.dirty && passwordErrors">
        <span class="block" *ngIf="!passwordErrors.hasMinLength">
          *Debe contener al menos 8 caracteres.
        </span>

        <span class="block" *ngIf="!passwordErrors.hasUpperCase">
          *Debe contener al menos una letra mayúscula.
        </span>

        <span class="block" *ngIf="!passwordErrors.hasLowerCase">
          *Debe contener al menos una letra minúscula.
        </span>

        <span class="block" *ngIf="!passwordErrors.hasNumeric">
          *Debe contener al menos un número.
        </span>

        <span class="block" *ngIf="!passwordErrors.hasSpecialCharacter">
          *Al menos un caracter especial.
        </span>
      </div>
    </div>

    <!-- Confirmar Contraseña -->
    <div class="flex flex-column gap-2">
      <label for="password" class="flex align-items-center gap-2">
        Confirmar Contraseña
        <div
          *ngIf="
            (confirmPasswordFormField?.dirty && confirmPasswordFormField?.touched) || form.submitted
          "
          class="text-danger"
        >
          <small *ngIf="confirmPasswordFormField?.errors?.['required']" class="text-red-500">
            *La contraseña es obligatoria.
          </small>

          <small *ngIf="registerForm.errors?.['misMatch']" class="text-red-500">
            *Las contrasenias deben coincidir.
          </small>
        </div>
      </label>
      <div class="flex justify-content-start w-full gap-2">
        <input
          [className]="
            registerForm.errors?.['misMatch']
              ? 'p-inputtext border-red-400 w-full'
              : 'p-inputtext w-full'
          "
          pInputText
          id="confirmPassword"
          aria-describedby="password-help"
          formControlName="confirmPassword"
          placeholder="Ingresa tu contraseña"
          type="password"
          class="w-full"
          [type]="confirmPasswordVisible ? 'text' : 'password'"
        />
        <p-button
          [icon]="confirmPasswordVisible ? 'pi pi-eye-slash' : 'pi pi-eye'"
          [rounded]="true"
          [text]="true"
          severity="secondary"
          (onClick)="confirmPasswordToggle()"
        />
      </div>
    </div>

    <!-- Aceptar Términos y condiciones -->
    <div class="flex flex-column align-items-start gap-2">
      <div class="flex-row">
        <p-checkbox formControlName="termsCondition" [binary]="true" />
        <label for="termsCondition">
          Aceptar
          <a routerLink="/terms-conditions">terminos y Condiciones</a>
        </label>
      </div>
      <div
        *ngIf="
          (termsConditionFormField?.dirty && termsConditionFormField?.touched) || form.submitted
        "
        class="text-danger"
      >
        <small *ngIf="termsConditionFormField?.errors?.['required']" class="text-red-500">
          *Debe aceptar los terminos y condiciones.
        </small>
      </div>
    </div>

    <!-- Ir al inicio -->
    <div class="flex flex-column gap-2">
      <small>¿Ya tienes una cuenta?</small>
      <small>
        <a routerLink="/login" class="p-0 text-sm text-gray-900 font-bold">Iniciar Sesión</a>
      </small>
    </div>

    <!-- CLOUDFLARE CAPTCHA -->
    <div class="w-full flex flex-row gap-2 justify-content-center">
      <ngx-turnstile
        [siteKey]="siteKey"
        (resolved)="confirmCaptcha($event)"
        theme="auto"
        [tabIndex]="0"
      ></ngx-turnstile>
    </div>

    <!-- Botón de inicio de sesión -->
    <div class="w-full flex flex-row gap-2 justify-content-center">
      <p-button
        type="submit"
        label="Registrarme"
        styleClass="w-full bg-indigo-900 border-indigo-900 text-white hover:bg-indigo-800"
        class="w-full"
        [disabled]="disableButton"
      />
    </div>
  </form>
</app-auth-card>
