<app-auth-card
  [title]="'Recuperar contraseña'"
  [subheader]="'Ingresa el correo electronico asociado a tu cuenta para recuperar contraseña'"
>
  <form
    [formGroup]="recoveryForm"
    (ngSubmit)="recoveryPassword()"
    class="flex flex-column gap-4"
    #form="ngForm"
  >
    <!-- Correo electrónico -->
    <div class="flex flex-column gap-2">
      <label for="email" class="flex flex-column align-items-right gap-2 md:flex-row">
        Correo Electrónico
        <div
          *ngIf="
            (recoveryForm.get('email')?.invalid && recoveryForm.get('email')?.touched) ||
            form.submitted
          "
          class="text-red-500"
        >
          <small *ngIf="recoveryForm.get('email')?.errors?.['required']">
            *El correo electrónico es obligatorio.
          </small>
          <small *ngIf="recoveryForm.get('email')?.errors?.['email']">
            *Ingresa un correo electrónico válido.
          </small>
        </div>
      </label>
      <input
        pInputText
        id="email"
        aria-describedby="email-help"
        formControlName="email"
        placeholder="example@example.com"
      />
    </div>

    <!-- Recuperar contraseña -->
    <div class="flex flex-column gap-2">
      <small>
        <a routerLink="/login" class="p-0 text-sm text-gray-900 font-bold">Iniciar Sesión</a>
      </small>
    </div>

    <!-- Botón de inicio de sesión -->
    <div class="w-full">
      <p-button type="submit" label="Recuperar contraseña" styleClass="w-full" />
    </div>
  </form>
</app-auth-card>

<app-loader-dialog [show]="showLoader" />
<p-confirmDialog />
<p-toast />
