<div class="flex flex-column justify-content-center align-items-center h-screen p-4 text-center">
  <h1 class="text-6xl font-bold">Registro Exitoso</h1>
  <p class="text-lg sm:text-2xl">Gracias por registrarte, tu cuenta ha sido creada con éxito</p>
  <p class="text-xs mt-2">
    si no estas siendo redirigido automáticamente, click aquí
    <a
      routerLink="/login"
      class="p-0 text-sm text-gray-900 font-bold cursor-pointer no-underline text-xs"
    >
      Iniciar Sesión
    </a>
  </p>
</div>
