<app-auth-card
  [title]="'Iniciar Sesión'"
  [subheader]="'Ingresa tus credenciales para iniciar sesión'"
>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="flex flex-column gap-4" #form="ngForm">
    <!-- Correo electrónico -->
    <div class="flex flex-column gap-2">
      <label for="email" class="flex flex-column align-items-right gap-2 md:flex-row">
        Correo Electrónico
        <div
          *ngIf="
            (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) || form.submitted
          "
          class="text-red-500"
        >
          <small *ngIf="loginForm.get('email')?.errors?.['required']">
            *El correo electrónico es obligatorio.
          </small>
          <small *ngIf="loginForm.get('email')?.errors?.['email']">
            *Ingresa un correo electrónico válido.
          </small>
        </div>
      </label>
      <input
        pInputText
        id="email"
        aria-describedby="email-help"
        formControlName="email"
        placeholder="example@example.com"
      />
    </div>

    <!-- Contraseña -->
    <div class="flex flex-column gap-2">
      <label for="password" class="flex align-items-center gap-2">
        Contraseña
        <div
          *ngIf="
            (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) ||
            form.submitted
          "
          class="text-danger"
        >
          <small *ngIf="loginForm.get('password')?.errors?.['required']" class="text-red-500">
            *La contraseña es obligatoria.
          </small>
        </div>
      </label>
      <input
        pInputText
        id="password"
        aria-describedby="password-help"
        formControlName="password"
        type="password"
        placeholder="Ingresa tu contraseña"
      />
    </div>

    <!-- Recuperar contraseña -->
    <div class="flex flex-column gap-2">
      <small>¿Olvidaste tu contraseña?</small>
      <small>
        <a routerLink="/recovery" class="p-0 text-sm text-gray-900 font-bold">
          Recuperar contraseña
        </a>
      </small>
    </div>

    <!-- Botón de inicio de sesión -->
    <div class="w-full flex flex-row gap-2 justify-content-center">
      <a
        routerLink="/register"
        class="p-0 p-button no-underline bg-white border-2 border-indigo-900 font-bold w-full flex justify-content-center text-gray-900 hover:text-white hover:bg-gray-800"
      >
        Registrarme
      </a>
      <p-button
        type="submit"
        label="Iniciar Sesión"
        styleClass="w-full bg-indigo-900 border-indigo-900 text-white hover:bg-indigo-800"
        class="w-full"
      />
    </div>
  </form>
</app-auth-card>

<app-loader-dialog [show]="showLoader" />
